<!doctype html>
<html ng-app="statistika">
  <head>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <link rel="stylesheet" href="components/angular-ui/ng-grid/ng-grid.css">
    <link rel="stylesheet" href="statistika.css">
    <script src="components/jquery/jquery-1.9.1.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="components/angular-ui/sortable.js"></script>
    <script src="components/persist-min.js"></script>

    <!--<script src="components/angular-ui/ng-grid/ng-grid-2.0.5.min.js"></script>
    <script src="components/angular-ui/ng-grid/ng-grid-flexible-height.js"></script>
    <script src="components/angular-ui/ng-grid/ng-grid-layout.js"></script>
    -->
    <script src="statistika.js"></script>
  </head>
  <body>
    <h2>Grid</h2>
    <div ng-controller="GridCtrl">
      <table>
        <thead>
          <tr>
            <td/>
            <td ng-repeat="column in header.columns">
              <input type="text" ng-model="column.value">
            </td>
            <td>
              <button ng-click="addRow()" title="add row">&plus;</button>
            </td>
          </tr>
        </thead>

        <tfoot>
          <tr>
            <td/>
            <td ng-repeat="column in header.columns">{{column.value}}</td>
          </tr>
        </tfoot>

        <tbody ui-sortable="sortableOptions">
          <tr ng-repeat="row in rows">
            <td class="handle">
              {{ $index + 1 }}.
            </td>
            <td ng-repeat="column in row.columns">
              <input type="text" ng-model="column.value">
            </td>
            <td>
              <button ng-click="removeRow(row)" title="remove row">&minus;</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
