<!doctype html>
<html ng-app="statistika">
  <head>
    <link rel="stylesheet" href="//twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <link rel="stylesheet" href="statistika.css">
    <script src="components/jquery/jquery-1.9.1.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="components/angular-ui/sortable.js"></script>
    <script src="components/angular-ui/if.js"></script>
    <script src="components/persist-min.js"></script>
    <script src="statistika.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <section ng-controller="DescriptionCtrl">
      <h1>Formulace statistického šetření</h1>
      <h2>Statistické znaky</h2>
      <dl>
        <!-- huge hack - https://github.com/angular/angular.js/issues/1891 -->
        <div ng-repeat="variable in header.variables">
          <dt><input type="text" ng-model="variable.name"></dt>
          <dd><textarea ng-model="variable.description"
                        placeholder="Description of your variable"></textarea></dd>
        </div>
      </dl>
    </section>

    <h1>Data</h1>
    <div ng-controller="DataCtrl">
      <table>
        <thead>
          <tr>
            <td/>
            <td ng-repeat="variable in header.variables">
              {{ variable.name }}
            </td>
            <td>
              <button ng-click="addRow()" title="add row">&plus;</button>
            </td>
          </tr>
        </thead>

        <tfoot>
          <tr>
            <td/>
            <td ng-repeat="column in header.columns">{{column.value}}</td>
          </tr>
        </tfoot>

        <tbody ui-sortable="sortableOptions">
          <tr ng-repeat="row in rows">
            <td class="handle">
              {{ $index + 1 }}.
            </td>
            <td ng-repeat="column in row.columns">
              <input type="text" ng-model="column.value">
            </td>
            <td>
              <button ng-click="removeRow(row)" title="remove row" tabindex="-1">&minus;</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
