.done-true {
  text-decoration: line-through;
  color: grey;
}

td.handle {
  cursor: move;
}

thead input {
  font-weight: bold;
}

#reset-persisted-data {
  position: absolute;
  top: 0;
  right: 0;
}
