<!doctype html>
<html ng-app="statistika">
  <head>
    <meta charset="utf-8">
    <title>Interaktivní statistické metody</title>
    <link rel="stylesheet" href="components/normalize.css">
    <link rel="stylesheet" href="components/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="components/bootstrap/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="statistika.css">

    <script>
        var _errs=["518581baec196dbf56000431"];(function(a,b){a.onerror=function(){_errs.push(arguments)};
        var d=function(){var a=b.createElement("script"),c=b.getElementsByTagName("script")[0];
        a.src="//d15qhc0lu1ghnk.cloudfront.net/beacon.js";a.async=!0;
        c.parentNode.insertBefore(a,c)};a.addEventListener?a.addEventListener("load",d,!1):
        a.attachEvent("onload",d)})(window,document);
    </script>

    <script src="components/jquery/jquery-1.9.1.min.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="components/angular-ui/sortable.js"></script>
    <script src="components/angular-ui/if.js"></script>
    <script src="components/persist-min.js"></script>
    <script src="components/underscore-min.js"></script>
    <script src="components/rationaljs.alpha.js"></script>
    <script src="components/jstat.js"></script>
    <script src="components/springy.js"></script>
    <script src="components/springyui.js"></script>

    <script async src="components/bootstrap/bootstrap.min.js"></script>
    <script async src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=AM_HTMLorMML"></script>

    <script src="finance.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">Statistika</a>

        <ul class="nav">
          <li><a href=".">Úvod</a></li>
          <li><a href="n_stm_1.html">Základy statistiky</a></li>
          <li class="active"><a href="#">Finanční statistika</a></li>
        </ul>
      </div>
    </div>


    <div class="container">
      <h1>Finanční statistika</h1>

      <dl>
        <dt>`t`</dt>
        <dd>současné datum</dd>

        <dt>`T`</dt>
        <dd>den splatnosti</dd>

        <dt>`tau` (`tau=T-t`)</dt>
        <dd>čas do splatnosti</dd>

        <dt>`S`</dt>
        <dd>cena podkladového aktiva</dd>

        <dt>`X`</dt>
        <dd>expirační cena opce</dd>

        <dt>`C`</dt>
        <dd>hodnota kupní opce</dd>

        <dt>`P`</dt>
        <dd>hodnota prodejní opce</dd>

        <dt>`r`</dt>
        <dd>bezriziková úroková míra</dd>
      </dl>

      <section ng-controller="BinomalCtrl">
        <h2>Binomický model</h2>

        <p>`C = SB[n,a,b] - X(1+r)B[n,a,p]`</p>
        <p>`P = SB[n,a,b] - X(1+r)B[n,a,p] - S + X(1+r)^-n`</p>

        <canvas height="800" width="1170" id="viz"></canvas>

        <table>
          <tr>
            <th>`n`</th>
            <th>`S`</th>
            <th>`X</th>
            <th>`U`</th>
            <th>`D`</th>
            <th>`r`</th>

            <th>`C`</th>
            <th>`P`</th>
          </tr>

          <tr>
            <td><input type="number" step="any" ng-model="tree.n"></td>
            <td><input type="number" step="any" ng-model="tree.S"></td>
            <td><input type="number" step="any" ng-model="tree.X"></td>
            <td><input type="number" step="any" ng-model="tree.U"></td>
            <td><input type="number" step="any" ng-model="tree.D"></td>
            <td><input type="number" step="any" ng-model="tree.r"></td>

            <td>{{ call }}</td>
            <td>{{ put }}</td>
          </tr>
        </table>

      </section>
    </div>
  </body>
</html>
