.done-true {
  text-decoration: line-through;
  color: grey;
}

td.handle {
  cursor: move;
}

thead input {
  font-weight: bold;
}

#reset-persisted-data {
  position: absolute;
  top: 0;
  right: 0;
}

h3.variable input {
  border: none;
  box-shadow: none;
  font-weight: bold;
}

td.sortable:not(.asc) {
  cursor: s-resize;
}

td.sortable.asc {
  cursor: n-resize;
}

p.error {
  color: red;
}
