.done-true {
  text-decoration: line-through;
  color: grey;
}

tbody.ui-sortable tr {
  cursor: move;
}

thead input {
  font-weight: bold;
}

#reset-persisted-data {
  position: absolute;
  top: 0;
  right: 0;
}

h3.variable input {
  border: none;
  box-shadow: none;
  font-weight: bold;
}

td.sortable:not(.asc) {
  cursor: s-resize;
}

td.sortable.asc {
  cursor: n-resize;
}

p.error {
  color: red;
}

.icon-reorder {
  font-size: 150%;
}

/* the FUCK? who wants 10px bottom margin? */
*[ng-repeat] > input, li[ng-repeat] form, li[ng-repeat] > form > input {
  margin-bottom: 0;
}

input[type=number] {
  width: 103px;
}

*[ng-repeat] {
  margin-bottom: 10px;
}

tr[ng-repeat] td {
  padding-bottom: 10px;
}

#data tbody tr:last-child{
  margin-bottom: 1em;
}
